.simple-requests-chat-body {
  min-width: 100%;
  display: flex;
  padding: 2px 0;
  /* Override the column-reverse flex direction */
    /* order: 999; */
    min-height: 15px;
    width: 100%;
    box-sizing: border-box;
    /* Force it to be at the bottom of the flex container */
    align-self: flex-end;
    margin-top: auto;
}

.ar-chat-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  border-radius: 5px 8px 8px 5px;
  overflow: hidden;
  pointer-events: auto !important;
}

.ar-chat-button {
  flex: 1;
  min-width: 30px;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0 0 6px inset #8d9ea7;
}

.ar-chat-queue,
.ar-freeScreen-queue {
  flex: 1;
  position: relative;
  border-radius: 5px;
  max-height: 100%;
  align-items: center;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.ar-chat-queue {
  border: 1px solid black;
  padding: 1px;
  box-shadow: 0 0 6px inset #8d9ea7;
}

.ar-freeScreen-queue {
  padding: 1px;
  min-width: 11px;
}

@keyframes slowPulse {
  0% {
    box-shadow: 0 0 4px 4px rgba(255, 0, 0, 0.368627451), 0 0 3px 1px rgba(255, 0, 0, 0.5803921569);
  }

  50% {
    box-shadow: 0 0 3px 2px rgba(255, 0, 0, 0.1725490196), 0 0 2px 1px rgba(255, 0, 0, 0.1568627451);
  }

  100% {
    box-shadow: 0 0 4px 4px rgba(255, 0, 0, 0.368627451), 0 0 3px 1px rgba(255, 0, 0, 0.5803921569);
  }
}

@keyframes fastPulse {
  0% {
    box-shadow: 0 0 6px 5px rgba(255, 0, 0, 0.4901960784), 0 0 4px 2px rgba(255, 0, 0, 0.7098039216);
  }

  50% {
    box-shadow: 0 0 4px 3px rgba(255, 0, 0, 0.2588235294), 0 0 2px 1px rgba(255, 0, 0, 0.2274509804);
  }

  100% {
    box-shadow: 0 0 6px 5px rgba(255, 0, 0, 0.4901960784), 0 0 4px 2px rgba(255, 0, 0, 0.7098039216);
  }
}

.ar-request-container-chat {
  transition: transform 0.3s ease-in-out;
}

.ar-request-container-chat.ar-hidden {
  transform: translateY(55px);
}

.ar-request-container-chat,
.ar-request-container-freeScreen {
  width: -moz-fit-content;
  width: fit-content;
  height: 90%;
  border-radius: 50%;
  margin: 0 2px;
  position: relative;
  pointer-events: auto !important;
}

.ar-request-container-chat>img,
.ar-request-container-freeScreen>img {
  height: 100%;
  max-height: 50px;
  border-radius: 50%;
}

.ar-request-container-chat.ar-level-1,
.ar-request-container-freeScreen.ar-level-1 {
  box-shadow: 0 0 6px 5px rgba(255, 0, 0, 0.4901960784), 0 0 4px 2px rgba(255, 0, 0, 0.7098039216);
  animation: slowPulse 2.5s ease-in-out infinite;
}

.ar-request-container-chat.ar-level-2,
.ar-request-container-freeScreen.ar-level-2 {
  box-shadow: 0 0 6px 5px rgba(255, 0, 0, 0.4901960784), 0 0 4px 2px rgba(255, 0, 0, 0.7098039216);
  animation: fastPulse 1.5s ease-in-out infinite;
}

.ar-text-level-0 {
  color: #fff
}

.ar-text-level-1 {
  color: #ff3333
}

.ar-text-level-2 {
  animation: chipColorPulse 1.2s infinite alternate
}

@keyframes chipColorPulse {
  0% {
    color: #ff3333;
  }

  50% {
    color: #ffa500;
  }

  100% {
    color: #ffff00;
  }
}

.ar-queue-warning {
  pointer-events: auto !important;
}
.ar-request-container-chat .ar-queue-warning,
.ar-request-container-freeScreen .ar-queue-warning {
  position: absolute;
  top: -5%;
  right: -15%;
  width: 65%;
  height: 65%;
  transform: rotate(10deg);
  pointer-events: auto !important;
}

.ar-request-container-chat .ar-queue-warning img,
.ar-request-container-freeScreen .ar-queue-warning img {
  border: none;
  pointer-events: auto !important;
}

.ar-chat-queue-transfer {
  position: absolute;
  width: 99.5%;
  height: 100%;
  align-items: center;
  display: grid;
  justify-items: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.ar-chat-queue-transfer i {
  text-shadow: -3px 3px 1px black;
  font-size: 20px;
  transform: rotate(270deg);
}

.ar-chat-queue-transfer.ar-hidden {
  transform: translateY(-50px);
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes rotateCounterClockwise {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(1px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(0);
  }
}

@keyframes strong-shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(2px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-2px);
  }
}

.ar-level-0 {
  animation: rotateClockwise 2s infinite alternate;
  animation: rotateCounterClockwise 2s infinite alternate;
  animation: slowPulse 2.5s ease-in-out infinite;
  border: none !important;
}

.ar-level-1 {
  animation: rotateClockwise 1s infinite alternate, rotateCounterClockwise 1s infinite alternate, shake 0.8s infinite;
  animation: fastPulse 1.5s ease-in-out infinite;
  border: none !important;
}

.ar-level-2 {
  animation: rotateClockwise 1s infinite alternate;
  animation: rotateCounterClockwise 1s infinite alternate;
  animation: strong-shake 0.3s infinite;
  animation: fastPulse 1.5s ease-in-out infinite;
  border: none !important;
}

.simple-requests-freeScreen-body {
  min-width: 60px;
  display: flex;
  position: absolute;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 0 3px #444 inset;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.simple-requests-freeScreen-body i {
  text-shadow: 2px 2px 0px black;
  color: #b9b2a2;
}

.simple-requests-freeScreen-body.ar-hidden {
  display: none !important;
}

.ar-resizable-handle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8px;
  height: 8px;
  cursor: nesw-resize;
  pointer-events: all;
  z-index: 1;
}

.ar-resizable-handle i {
  transform: rotate(45deg) translate(-4px, 1px);
}

.ar-freeScreen-addButtons {
  align-items: center;
  justify-items: center;
  display: grid;
}

.ar-freeScreen-addButtons div {
  padding: 0 5px;
}

.ar-freeScreen-button {
  flex: 1;
  min-width: 30px;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.ar-freeScreen-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  overflow: hidden;
  border: 1px solid;
  border-top: none;
  border-bottom: none;
}

.ih-header {
  text-align: center;
  display: grid;
  background-color: rgba(125, 113, 216, 0.3294117647);
  border: 2px dashed #2A17B1;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px;
}

.ih-header span {
  font-weight: 600;
  font-family: "Bruno Ace";
}

.ih-box {
  height: 35px;
}

.ih-box.ih-hidden {
  display: none;
}

.ih-icon {
  flex: 0;
  min-width: 35px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.ih-icon i {
  font-size: 150%;
}

.ih-icon .fa-check {
  color: #1b8900;
}

.ih-icon .fa-xmark {
  color: #c30000;
}

.ih-icon .fa-triangle-exclamation {
  color: #e3e700;
  text-shadow: 1px -1px 0px black, 1px 1px 0px black, -1px -1px 0px black, -1px 1px 0px black;
}

.ih-label {
  flex: 2;
  align-items: center;
  display: grid;
}

.ih-label span {
  font-weight: 700;
}

.ih-input {
  flex: 3;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.ih-input select,
.ih-input input {
  background-color: rgba(0, 23, 98, 0.18);
  color: #242424;
  border: 2px solid rgba(42, 23, 177, 0.3490196078);
  border-radius: 5px;
  font-weight: 600;
  font-family: "Primitive";
  width: 100%;
}

.ih-input>div {
  flex: 1;
}

.ih-filepicker {
  flex: 0;
  background-color: rgba(0, 23, 98, 0.18);
  color: #242424;
  border: 2px solid rgba(42, 23, 177, 0.3490196078);
  border-radius: 5px;
  height: 26px;
  display: grid;
}

.ih-filepicker i {
  line-height: 22px;
}

.ih-drop-box {
  height: 95%;
  border: 2px dotted #0a0268;
  border-radius: 7px;
  width: 100%;
  justify-self: center;
  display: grid;
  align-items: center;
  justify-items: center;
}

.ih-drop-area {
  display: flex;
  align-items: center;
}

.ih-drop-area i {
  flex: 0;
  font-size: 200%;
  color: #252525;
}

.ih-drop-area span {
  margin-left: 5px;
  font-weight: 600;
  flex: 1;
}

.ih-actor {
  display: flex;
  align-items: center;
}

.ih-actor img {
  max-height: 35px;
  border: none;
}

.ih-actor span {
  font-weight: 600;
  margin-left: 7px;
}

.ih-box:nth-child(odd) .ih-icon {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(137, 156, 241, 0.1176470588) 40%, rgba(137, 156, 241, 0.3294117647) 100%);
}

.ih-box:nth-child(odd) .ih-label {
  background-color: rgba(137, 156, 241, 0.3294117647);
}

.ih-box:nth-child(odd) .ih-input {
  background-image: linear-gradient(to right, rgba(137, 156, 241, 0.3294117647) 0%, rgba(137, 156, 241, 0.1176470588) 60%, rgba(0, 0, 0, 0) 100%);
}

.ih-box:nth-child(even) .ih-icon {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(56, 84, 209, 0.1843137255) 40%, rgba(56, 84, 209, 0.3294117647) 100%);
}

.ih-box:nth-child(even) .ih-label {
  background-color: rgba(56, 84, 209, 0.3294117647);
}

.ih-box:nth-child(even) .ih-input {
  background-image: linear-gradient(to right, rgba(56, 84, 209, 0.3294117647) 0%, rgba(56, 84, 209, 0.1843137255) 60%, rgba(0, 0, 0, 0) 100%);
}

.ar-chat-requests-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.ar-chat-requests-menu i {
  font-size: 85% !important;
  margin: 0;
  justify-self: center;
  align-self: center;
  line-height: 100% !important;
}


.epic-prompt-container>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ar-epic-prompt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.simple-requests-img {
  border: none !important;
}
